div#background[data-ui="background"].clickable {
    background-size: contain;
}
choice-container.clickscreen { /* Will apply to all point-and-click element choice containers. */
	overflow: hidden;
	max-height:100%;
	max-width: 100%;
	margin:0;
	padding:0;
	/* Because our images are 1440x900 in size, our ratios are 1.6 and 0.625 */
	width: calc(100vh * 1.6); /* The viewport height multiplied by your image's width / height in decimal */
	height: calc(100vw * 0.625); /* The viewport width multiplied by your image's height / width in decimal*/
}

/* living room */
choice-container.clickscreen.livingroom { 
	width: calc(100vh * 1.6);
	height: calc(100vw * 0.625);
}
choice-container.clickscreen.livingroom button.sofa{
	left: 30%;
	top: 63%;
	width: 38%;
	height: 30%;
}
choice-container.clickscreen.livingroom button.tv{
	left: 39%;
	top: 40%;
	width: 20%;
	height: 20%;
}
choice-container.clickscreen.livingroom button.photo{
	left: 25%;
	top: 28%;
	width: 10%;
	height: 20%;
}
choice-container.clickscreen.livingroom button.photoRight{
	left: 68%;
	top: 28%;
	width: 10%;
	height: 20%;
}
choice-container.clickscreen.livingroom button.drawer{
	left: 75%;
	top: 78%;
	width: 15%;
	height: 15%;
}
choice-container.clickscreen.livingroom button.book{
	left: 39%;
	top: 28%;
	width: 20%;
	height: 10%;
}
choice-container.clickscreen.livingroom button.door{
	top: 28%;
	left: 90%;
	height: 52%;
	width: 100%;
}

/* bedroom */
choice-container.clickscreen.bedroom { 
	width: calc(100vh * 1.6);
	height: calc(100vw * 0.625);
}
choice-container.clickscreen.bedroom button.picture{
	left: 45%;
	top: 12%;
	width: 20%;
	height: 25%;
}
choice-container.clickscreen.bedroom button.hanger{
	left: 80%;
	top: 40%;
	width: 30%;
	height: 50%;
}
choice-container.clickscreen.bedroom button.pillow{
	left: 48%;
	top: 45%;
	width: 15%;
	height: 14%;
}
choice-container.clickscreen.bedroom button.drawerBed{
	left: 16%;
	top: 60%;
	width: 12%;
	height: 18%;
}
choice-container.clickscreen.bedroom button.bed{
	left: 32%;
	top: 60%;
	width: 45%;
	height: 18%;
}

/* bathroom */
choice-container.clickscreen.vtfront { /*Specifically applies to the vtfrontpage image and its dimensions. If all of your background images are the same dimensions, you don't need this extra step. Included here needlessly as an example. Deleting this rule won't affect this game.*/
	width: calc(100vh * 1.6); /*If your images were different sizes, you would specify their dimensions here. */
	height: calc(100vw * 0.625);
}
/* Rule applies to all clickscreen buttons to make them invisible and easier to position and move around.*/
choice-container.clickscreen button {
  position: absolute;
	border: none;
	border-radius: 0;
	margin:0;
	padding:0;
	opacity:0;
}
/*This rule applies SPECIFICALLY to the bathtub button to position it over the image of the bathtub. We use the .clickscreen and .vtfrontpage rules here to make it so that we can reuse words like "Trees" in the future for other clickable screens without running into conflicts.*/
choice-container.clickscreen.vtfront button.bathtub{
	left: 20%;
	top: 56%;
	width: 23%;
	height: 30%;
}
/*likewise for the next several*/
choice-container.clickscreen.vtfront button.machine{
	left: 77.5%;
	top: 55%;
	width: 21%;
	height: 30%;
}
choice-container.clickscreen.vtfront button.shower{
	left: 20%;
	top: 5%;
	width:15%;
	height: 50%;
}
/* choice-container.clickscreen.vtfront button.curtains{
	left: 1%;
	top: 0%;
	width:20%;
	height: 90%;
} */
choice-container.clickscreen.vtfront button.mirror{
	left: 53%;
	top: 0;
	width: 15%;
	height: 35%;
}
choice-container.clickscreen.vtfront button.drawerBathroom{
	left: 73%;
	top: 0;
	width: 15%;
	height: 35%;
}
choice-container.clickscreen.vtfront button.hanger{
	left: 36%;
	top: 1%;
	width: 10%;
	height: 40%;
}
choice-container.clickscreen.vtfront button.vtsplash{
	left: 45%;
	top: 40%;
	width: 23%;
	height: 25%;
}

/* lastdoor */
/* choice-container.clickscreen.lastdoor button.drawerBed{
	left: 16%;
	top: 60%;
	width: 12%;
	height: 18%;
} */
choice-container.clickscreen.lastdoor button.door{
	left: 40%;
	top: 15%;
	width: 22%;
	height: 68%;
}

/* map */
choice-container.clickscreen.ldktv button.livingroom{
	left: 0;
	top: 0;
	width:43%;
	height: 13%;
}
choice-container.clickscreen.ldktv button.bathroom{
	left: 77.5%;
	top: 1%;
	width:21%;
	height: 90%;
}
choice-container.clickscreen.backpack button.map {
	left: 77.5%;
	top: 1%;
	width:21%;
	height: 90%;
}

text-box[data-speaking="a"] {
	display:none!important;
}

img[data-image="tv"], img[data-image="ldktv"],
img[data-image="pw1"] {
	top: -20%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 60%;
	max-height: auto;
}

img[data-image="backpack"] {
	top: 0;
	bottom: 70%;
	left: 85%;
	right: 0%;
	margin: auto;
	max-width: 10%;
}

.turnRightButton {
	background: url(rightArrow.png);
	background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
	color: transparent;
	position: absolute;
	top: 38%;
	left: 85%;
	height: 30%;
	width: 15%;
	margin: 0px;
	overflow: hidden;
	opacity: 100% !important;
	border: none;
}
.turnRightButton:hover {
	background: url(rightArrow.png);
	background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
	opacity: 100% !important;
}


.turnLeftButton {
	background: url(leftArrow.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	color: transparent;
	position: absolute;
	top: 38%;
	left: 0%;
	height: 30%;
	width: 15%;
	margin: 0px;
	overflow: hidden;
	opacity: 100% !important;
}
.turnLeftButton:hover {
	background: url(leftArrow.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	opacity: 100% !important;
}

/* .turnRightButton2 {
	color: transparent;
	background: url(rightArrow.png);
	background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
	position: absolute;
	top: 28%;
	left: 82%;
	height: 62%;
	width: 15%;
	margin: 0px;
	overflow: hidden;
	opacity: 100% !important;
	border: none;
}
.turnRightButton2:hover {
	background: url(rightArrow.png);
	background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
	opacity: 100% !important;
} */

.redText {
	color: #ffe71e;
}

.ending {
	font-size: larger;
}